body {
    background: lightgrey;
}

.card {
    margin: 0 auto;
}

.border-dash {
    border: dashed 2px lightgray;
}

.btn-round {
    border-radius: 20px;
}
 .range {
     width: 90%;
 }

 @media screen and (max-width: 768px) {
    button {
        width: 100%;
        margin: 0 auto;
        display: block;

    }
    
}
 

